KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/kpanic.o \
$(ARCHDIR)/serial/serial.o \
$(ARCHDIR)/io/inx.o $(ARCHDIR)/io/iowait.o $(ARCHDIR)/io/outx.o \
$(ARCHDIR)/paging/enable_paging.o $(ARCHDIR)/paging/load_page_directory.o $(ARCHDIR)/paging/get_page_directory.o \
$(ARCHDIR)/paging/paging_utils.o \
$(ARCHDIR)/memory/kalloc.o